<!--main content start-->
<div id="main-content">
    <div class="wrapper">
        <!-- page start-->
        <div class="row">
            <div class="col-md-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href="#/"><i class="fa fa-dashboard"></i> Painel</a></li>
                    <li> Viagens</li>
                    <li class="active">Cadastro de viagem</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Cadastro de viagem
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                            </span>
                    </header>
                    <div class="panel-body">

                        <script>
                            (function ($) {
                                $("#wizard").steps({
                                    headerTag: "h3",
                                    bodyTag: "section",
                                    transitionEffect: "slideLeft",
                                    labels: {
                                        next: 'Próximo <i class="fa fa-chevron-right"></i>',
                                        previous: '<i class="fa fa-chevron-left"></i> Anterior'
                                    }
                                });
                            })(jQuery);
                        </script>

                        <form role="form" class="form-horizontal" name="formAddTrip" ng-submit="vm.submitAddTrip(vm)">
                            <div id="wizard">
                            <h3>Dados da Viagem</h3>
                            <section>
                                <div class="form-group">
                                    <label class="col-lg-3 col-sm-3 control-label">Caminhão</label>
                                    <div class="col-lg-7 col-sm-7">
                                        <select class="form-control" ng-model="vm.truckSelect" ng-change="vm.selectDriver()">
                                            <option></option>
                                            <option ng-repeat="truck in vm.trucks" value="{{truck.id}}">{{truck.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-sm-3 control-label">Motorista</label>
                                    <div class="col-lg-7 col-sm-7">
                                        <select class="form-control" ng-model="vm.driverSelect">
                                            <option ng-repeat="driver in vm.drivers" value="{{driver.id}}" ng-selected="vm.driverSelect">{{driver.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-sm-3 control-label">Cidade Origem</label>
                                    <div class="col-lg-7 col-sm-7">
                                        <select class="form-control" ng-model="vm.cityHome">
                                            <option></option>
                                            <option value="Betim">Betim</option>
                                            <option value="Contagem">Contagem</option>
                                            <option value="Rio de Janeiro">Rio de Janeiro</option>
                                            <option value="Recife">Recife</option>
                                            <option value="São Paulo">São Paulo</option>
                                            <option value="Natal">Natal</option>
                                            <option value="Fortaleza">Fortaleza</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-sm-3 control-label">Cidade Destino</label>
                                    <div class="col-lg-7 col-sm-7">
                                        <select class="form-control" ng-model="vm.cityDestination">
                                            <option></option>
                                            <option value="Betim">Betim</option>
                                            <option value="Contagem">Contagem</option>
                                            <option value="Rio de Janeiro">Rio de Janeiro</option>
                                            <option value="Recife">Recife</option>
                                            <option value="São Paulo">São Paulo</option>
                                            <option value="Natal">Natal</option>
                                            <option value="Fortaleza">Fortaleza</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-sm-3 control-label">Data Saída</label>
                                    <div class="col-lg-2 col-sm-2">
                                        <input type="text" class="form-control default-date-picker" ng-model="vm.dateOutput" ui-mask="99/99/9999" model-view-value="true">
                                    </div>
                                    <label class="col-lg-3 col-sm-3 control-label">Data Chegada</label>
                                    <div class="col-lg-2 col-sm-2">
                                        <input type="text" class="form-control default-date-picker" ng-model="vm.dateArrival" ui-mask="99/99/9999" model-view-value="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-sm-3 control-label">Saída (km)</label>
                                    <div class="col-lg-2 col-sm-2">
                                        <input type="text" class="form-control" ng-model="vm.kmOutput" ui-number-mask="0">
                                    </div>
                                    <label class="col-lg-3 col-sm-3 control-label">Chegada (km)</label>
                                    <div class="col-lg-2 col-sm-2">
                                        <input type="text" class="form-control" ng-model="vm.kmArrival" ui-number-mask="0">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-sm-3 control-label">Paga (km)
                                <span data-content="Quantidade em km paga pela empresa."
                                      data-placement="top" data-trigger="hover" class="badge bg-default popovers information">?</span>
                                    </label>

                                    <div class="col-lg-2 col-sm-2">
                                        <input type="text" class="form-control" ng-model="vm.kmPaid" ui-number-mask="0">
                                    </div>
                                    <label class="col-lg-3 col-sm-3 control-label">Frete Total (R$)</label>
                                    <div class="col-lg-2 col-sm-2">
                                        <input type="text" class="form-control" ng-model="vm.totalMoney" ui-money-mask="2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-sm-3 control-label">Ad. Empresa (R$)</label>
                                    <div class="col-lg-2 col-sm-2">
                                        <input type="text" class="form-control" ng-model="vm.moneyCompany" ui-money-mask="2">
                                    </div>
                                    <label class="col-lg-3 col-sm-3 control-label">Complemento (R$)</label>
                                    <div class="col-lg-2 col-sm-2">
                                        <input type="text" class="form-control" ng-model="vm.moneyComplement" ui-money-mask="2">
                                    </div>
                                </div>
                            </section>
                            <h3>Despesas Abastecimento</h3>
                            <section>
                                <div class="form-group">
                                    <div class="col-lg-10 col-sm-10">
                                        <p>Informe as despesas referentes a abastecimento:</p>
                                    </div>
                                    <div class="col-lg-2 col-sm-2">
                                        <div class="btn-group pull-right">
                                            <a href data-target="#myFuel" data-toggle="modal" class="btn btn-primary">
                                                <i class="fa fa-plus"></i> Novo
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="vm.fuels.length > 0">
                                    <div class="col-lg-12 col-sm-12">
                                        <table class="table table-condensed">
                                            <thead>
                                            <tr>
                                                <th>Local</th>
                                                <th class="text-center">Litros</th>
                                                <th class="text-center">Valor</th>
                                                <th class="text-center" style="width:13%">Ação</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="fuel in vm.fuels track by $index" style="background-color: #fff">
                                                <td>{{fuel.name}}</td>
                                                <td class="text-center">{{fuel.qtd}} litros</td>
                                                <td class="text-center">{{fuel.price | currency}}</td>
                                                <td class="text-center">
                                                    <div class="todo-actionlist">
                                                        <a href="#" class="todo-edit icon-center" title="Editar"><i class="ico-pencil"></i></a>
                                                        <a href="#" class="todo-remove icon-center" title="Remover"><i class="ico-close"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                            <h3>Despesas Gerais</h3>
                            <section>
                                <div class="form-group">
                                    <div class="col-lg-10 col-sm-10">
                                        <p>Informe todas as despesas gerais:</p>
                                    </div>
                                    <div class="col-lg-2 col-sm-2">
                                        <div class="btn-group pull-right">
                                            <a href data-target="#myExpense" data-toggle="modal" class="btn btn-primary">
                                                <i class="fa fa-plus"></i> Novo
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="vm.expenses.length > 0">
                                    <div class="col-lg-12 col-sm-12">
                                        <table class="table table-condensed">
                                            <thead>
                                            <tr>
                                                <th>Descrição</th>
                                                <th class="text-center">Valor</th>
                                                <th class="text-center">Data</th>
                                                <th class="text-center" style="width:13%">Ação</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="expense in vm.expenses track by $index" style="background-color: #fff">
                                                <td>{{expense.type}}</td>
                                                <td class="text-center">R$ {{expense.value}}</td>
                                                <td class="text-center">{{expense.date}}</td>
                                                <td class="text-center">
                                                    <div class="todo-actionlist">
                                                        <a href="#" class="todo-edit icon-center" title="Editar"><i class="ico-pencil"></i></a>
                                                        <a href="#" class="todo-remove icon-center" title="Remover"><i class="ico-close"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                            <h3>Observações</h3>
                            <section>
                                <div class="form-group">
                                    <div class="col-lg-10 col-sm-10">
                                        <p>Preencha o campo se desejar incluir alguma observação no cadastro de viagem.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12 col-sm-12">
                                        <textarea class="form-control" rows="6" ng-model="vm.comments"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12 text-center">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Salvar</button>
                                    </div>
                                </div>
                            </section>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- page end-->
</div>
<!--main content end-->

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myFuel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Adicionar abastecimento</h4>
            </div>
            <div class="modal-body">

                <form name="formFuel" ng-submit="vm.submitFuel(vm.fuel)">
                    <div class="form-group">
                        <label for="inputLocal">Local</label>
                        <input type="text" class="form-control" id="inputLocal" ng-model="vm.fuel.name" placeholder="Local de abastecimento">
                    </div>
                    <div class="form-group">
                        <label for="inputLitros">Litros</label>
                        <input type="text" class="form-control" id="inputLitros" ng-model="vm.fuel.qtd" placeholder="Quantidade de litros">
                    </div>
                    <div class="form-group">
                        <label for="inputValor">Valor</label>
                        <input type="text" class="form-control" id="inputValor" ng-model="vm.fuel.price" placeholder="Valor (R$)" ui-money-mask="2">
                    </div>
                    <div class="form-group">
                        <label for="inputData">Data</label>
                        <input type="text" class="form-control default-date-picker" id="inputData" ng-model="vm.fuel.date" ui-mask="99/99/9999" model-view-value="true">
                    </div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button data-dismiss="modal" class="btn btn-default" type="button"><i class="fa fa-close"></i> Cancelar</button>
                        </div>
                        <div class="btn-group pull-right">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- modal -->


<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myExpense" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Adicionar despesa</h4>
            </div>
            <div class="modal-body">

                <form name="formExpense" ng-submit="vm.submitExpense(vm.expense)">
                    <div class="form-group">
                        <label for="inputTipo">Tipo</label>
                        <select class="form-control" id="inputTipo" ng-model="vm.expense.type" ng-change="vm.checkExpense()">
                            <option></option>
                            <option value="Borracharia">Borracharia</option>
                            <option value="Lavagem/Limpeza">Lavagem/Limpeza</option>
                            <option value="Serviço elétrico">Serviço elétrico</option>
                            <option value="Serviço mecânico">Serviço mecânico</option>
                            <option value="Serviço de solda">Serviço de solda</option>
                            <option value="Serviço de mola">Serviço de mola</option>
                            <option value="Despesa adicional sem comprovação de nota (chapa, caixinha de conferente e outros) - 4%">Despesa adicional sem comprovação de nota (chapa, caixinha de conferente e outros) - 4%</option>
                            <option value="Despesas com Pedágio">Despesas com Pedágio</option>
                            <option value="Despesas com Posto Fiscal">Despesas com Posto Fiscal</option>
                            <option value="Outros">Outros</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputValorDespesa">Valor</label>
                        <input type="text" class="form-control" id="inputValorDespesa" ng-model="vm.expense.value" placeholder="Valor (R$)" ui-money-mask="2">
                    </div>
                    <div class="form-group">
                        <label for="inputDataDespesa">Data</label>
                        <input type="text" class="form-control default-date-picker" id="inputDataDespesa" ng-model="vm.expense.date" ui-mask="99/99/9999" model-view-value="true">
                    </div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button data-dismiss="modal" class="btn btn-default" type="button"><i class="fa fa-close"></i> Cancelar</button>
                        </div>
                        <div class="btn-group pull-right">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- modal -->