<section id="container">
    <ng-include src="'header.html'"></ng-include>

    <ng-include src="'sidebar.html'"></ng-include>

    <!--main content start-->
    <div id="main-content">
        <div class="wrapper">
            <!-- page start-->
            <div class="row">
                <div class="col-md-12">
                    <!--breadcrumbs start -->
                    <ul class="breadcrumb">
                        <li><a href="#/"><i class="fa fa-dashboard"></i> Painel</a></li>
                        <li class="active">Cadastro de viagem</li>
                    </ul>
                    <!--breadcrumbs end -->
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Cadastro de viagem
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                            </span>
                        </header>
                        <div class="panel-body">
                            <form role="form" class="form-horizontal" name="formAddTrip" ng-submit="vm.submitAddTrip(vm)">
                                <div class="form-group">
                                    <div class="space15"></div>
                                    <label class="col-lg-11 col-sm-11 title-company">Dados da viagem</label>
                                </div>
                                <div class="form-group truck-field">
                                    <label class="col-lg-3 col-sm-3 control-label">Caminhão</label>
                                    <div class="col-lg-7 col-sm-7">
                                        <select class="form-control" ng-model="vm.truckSelect" ng-change="vm.selectDriver()">
                                            <option></option>
                                            <option ng-repeat="truck in vm.trucks" value="{{truck.id}}">{{truck.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-sm-3 control-label">Motorista</label>
                                    <div class="col-lg-7 col-sm-7">
                                        <select class="form-control" ng-model="vm.driverSelect">
                                            <option ng-repeat="driver in vm.drivers" value="{{driver.id}}" ng-selected="vm.driverSelect">{{driver.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-sm-3 control-label">Cidade Origem</label>
                                    <div class="col-lg-7 col-sm-7">
                                        <select class="form-control" ng-model="vm.cityHome">
                                            <option></option>
                                            <option value="Betim">Betim</option>
                                            <option value="Contagem">Contagem</option>
                                            <option value="Rio de Janeiro">Rio de Janeiro</option>
                                            <option value="Recife">Recife</option>
                                            <option value="São Paulo">São Paulo</option>
                                            <option value="Natal">Natal</option>
                                            <option value="Fortaleza">Fortaleza</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-sm-3 control-label">Cidade Destino</label>
                                    <div class="col-lg-7 col-sm-7">
                                        <select class="form-control" ng-model="vm.cityDestination">
                                            <option></option>
                                            <option value="Betim">Betim</option>
                                            <option value="Contagem">Contagem</option>
                                            <option value="Rio de Janeiro">Rio de Janeiro</option>
                                            <option value="Recife">Recife</option>
                                            <option value="São Paulo">São Paulo</option>
                                            <option value="Natal">Natal</option>
                                            <option value="Fortaleza">Fortaleza</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-sm-3 control-label">Data Saída</label>
                                    <div class="col-lg-2 col-sm-2">
                                        <input type="text" class="form-control" ng-model="vm.dateOutput">
                                    </div>
                                    <label class="col-lg-3 col-sm-3 control-label">Data Chegada</label>
                                    <div class="col-lg-2 col-sm-2">
                                        <input type="text" class="form-control" ng-model="vm.dateArrival">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-sm-3 control-label">Saída (km)</label>
                                    <div class="col-lg-2 col-sm-2">
                                        <input type="text" class="form-control" ng-model="vm.kmOutput">
                                    </div>
                                    <label class="col-lg-3 col-sm-3 control-label">Chegada (km)</label>
                                    <div class="col-lg-2 col-sm-2">
                                        <input type="text" class="form-control" ng-model="vm.kmArrival">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 col-sm-3 control-label">Paga (km)</label>
                                    <div class="col-lg-2 col-sm-2">
                                        <input type="text" class="form-control" ng-model="vm.kmPaid">
                                    </div>
                                    <label class="col-lg-3 col-sm-3 control-label">Frete Total (R$)</label>
                                    <div class="col-lg-2 col-sm-2">
                                        <input type="text" class="form-control" ng-model="vm.totalMoney">
                                    </div>
                                </div>
                                <div class="form-group finish-session">
                                    <label class="col-lg-3 col-sm-3 control-label">Ad. Empresa (R$)</label>
                                    <div class="col-lg-2 col-sm-2">
                                        <input type="text" class="form-control" ng-model="vm.moneyCompany">
                                    </div>
                                    <label class="col-lg-3 col-sm-3 control-label">Complemento (R$)</label>
                                    <div class="col-lg-2 col-sm-2">
                                        <input type="text" class="form-control" ng-model="vm.moneyComplement">
                                    </div>
                                </div>
                                <div class="space15"></div>
                                <div class="form-group">
                                    <div class="space15"></div>
                                    <label class="col-lg-10 col-sm-10 title-company">Despesas abastecimento</label>
                                    <div class="col-lg-1 col-sm-1">
                                        <div class="btn-group pull-right">
                                            <a href data-target="#myFuel" data-toggle="modal" class="btn btn-primary">
                                                Add <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group finish-session">
                                    <div class="col-lg-1 col-sm-1"></div>
                                    <div class="col-lg-10 col-sm-10">
                                        <table class="table table-bordered table-striped table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>Local</th>
                                                    <th class="text-center">Litros</th>
                                                    <th class="text-center">Valor</th>
                                                    <th class="text-center" style="width:13%">Ação</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="fuel in vm.fuels track by $index">
                                                    <td>{{fuel.name}}</td>
                                                    <td class="text-center">{{fuel.qtd}} litros</td>
                                                    <td class="text-center">R$ {{fuel.price}}</td>
                                                    <td>
                                                        <div class="todo-actionlist pull-right list-center">
                                                            <a href="#" class="todo-edit" title="Editar"><i class="ico-pencil"></i></a>
                                                            <a href="#" class="todo-remove" title="Remover"><i class="ico-close"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-1 col-sm-1"></div>
                                </div>
                                <div class="space15"></div>
                                <div class="form-group">
                                    <div class="space15"></div>
                                    <label class="col-lg-10 col-sm-10 title-company">Despesas gerais</label>
                                    <div class="col-lg-1 col-sm-1">
                                        <div class="btn-group pull-right">
                                            <a href data-target="#myExpense" data-toggle="modal" class="btn btn-primary">
                                                Add <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group finish-session">
                                    <div class="col-lg-1 col-sm-1"></div>
                                    <div class="col-lg-10 col-sm-10">
                                        <table class="table table-bordered table-striped table-condensed">
                                            <thead>
                                            <tr>
                                                <th>Descrição</th>
                                                <th class="text-center">Valor</th>
                                                <th class="text-center">Data</th>
                                                <th class="text-center" style="width:13%">Ação</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="expense in vm.expenses track by $index">
                                                <td>{{expense.type}}</td>
                                                <td class="text-center">R$ {{expense.value}}</td>
                                                <td class="text-center">{{expense.date}}</td>
                                                <td>
                                                    <div class="todo-actionlist pull-right list-center">
                                                        <a href="#" class="todo-edit" title="Editar"><i class="ico-pencil"></i></a>
                                                        <a href="#" class="todo-remove" title="Remover"><i class="ico-close"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-1 col-sm-1"></div>
                                </div>
                                <div class="space15"></div>
                                <div class="form-group">
                                    <div class="col-lg-11 text-center">
                                        <button class="btn btn-default" type="reset">Limpar</button>
                                        <button class="btn btn-primary" type="submit">Salvar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!-- page end-->
    </div>
    <!--main content end-->
</section>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myFuel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Adicionar abastecimento</h4>
            </div>
            <div class="modal-body">

                <form name="formFuel" ng-submit="vm.submitFuel(vm.fuel)">
                    <div class="form-group">
                        <label for="inputLocal">Local</label>
                        <input type="text" class="form-control" id="inputLocal" ng-model="vm.fuel.name" placeholder="Local de abastecimento">
                    </div>
                    <div class="form-group">
                        <label for="inputLitros">Litros</label>
                        <input type="text" class="form-control" id="inputLitros" ng-model="vm.fuel.qtd" placeholder="Quantidade de litros">
                    </div>
                    <div class="form-group">
                        <label for="inputValor">Valor</label>
                        <input type="text" class="form-control" id="inputValor" ng-model="vm.fuel.price" placeholder="Valor (R$)">
                    </div>
                    <div class="form-group">
                        <label for="inputData">Data</label>
                        <input type="text" class="form-control" id="inputData" ng-model="vm.fuel.date" placeholder="Data do Abastecimento">
                    </div>
                    <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- modal -->


<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myExpense" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Adicionar despesa</h4>
            </div>
            <div class="modal-body">

                <form name="formExpense" ng-submit="vm.submitExpense(vm.expense)">
                    <div class="form-group">
                        <label for="inputTipo">Tipo</label>
                        <select class="form-control" id="inputTipo" ng-model="vm.expense.type" ng-change="vm.checkExpense()">
                            <option></option>
                            <option value="Borracharia">Borracharia</option>
                            <option value="Lavagem/Limpeza">Lavagem/Limpeza</option>
                            <option value="Serviço elétrico">Serviço elétrico</option>
                            <option value="Serviço mecânico">Serviço mecânico</option>
                            <option value="Serviço de solda">Serviço de solda</option>
                            <option value="Serviço de mola">Serviço de mola</option>
                            <option value="Despesa adicional sem comprovação de nota (chapa, caixinha de conferente e outros) - 4%">Despesa adicional sem comprovação de nota (chapa, caixinha de conferente e outros) - 4%</option>
                            <option value="Despesas com Pedágio">Despesas com Pedágio</option>
                            <option value="Despesas com Posto Fiscal">Despesas com Posto Fiscal</option>
                            <option value="Outros">Outros</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputValorDespesa">Valor</label>
                        <input type="text" class="form-control" id="inputValorDespesa" ng-model="vm.expense.value" placeholder="Valor (R$)">
                    </div>
                    <div class="form-group">
                        <label for="inputDataDespesa">Data</label>
                        <input type="text" class="form-control" id="inputDataDespesa" ng-model="vm.expense.date" placeholder="Data da Despesa">
                    </div>
                    <button data-dismiss="modal" class="btn btn-default" type="button">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- modal -->