<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Quantitativo do mês
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mini-stat clearfix">
                                    <span class="mini-stat-icon orange"><i class="fa fa-road"></i></span>
                                    <div class="mini-stat-info">
                                        <span>{{vm.dash.qtd_viagens}}</span>
                                        Viagens
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" ng-show="vm.showResult">
                                <div class="mini-stat clearfix">
                                    <span class="mini-stat-icon tar"><i class="fa fa-money"></i></span>
                                    <div class="mini-stat-info">
                                        <span>{{vm.dash.resultado | number}}</span>
                                        Resultado (R$)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" ng-show="!vm.showResult">
                                <div class="mini-stat clearfix">
                                    <span class="mini-stat-icon tar"><i class="fa fa-truck"></i></span>
                                    <div class="mini-stat-info">
                                        <span>{{vm.dash.qtd_carros}}</span>
                                        Caminhões
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mini-stat clearfix">
                                    <span class="mini-stat-icon pink"><i class="fa fa-battery-half"></i></span>
                                    <div class="mini-stat-info">
                                        <span>{{vm.dash.qtd_abastecimento | number}}</span>
                                        Abastecimento (R$)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mini-stat clearfix">
                                    <span class="mini-stat-icon green"><i class="fa fa-gears"></i></span>
                                    <div class="mini-stat-info">
                                        <span>{{vm.dash.qtd_manutencao | number}}</span>
                                        Manutenção (R$)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <!--todolist start-->
                <section class="panel">
                    <header class="panel-heading">
                        <i class="fa fa-truck"></i>
                        <span class="icon-title">Ranking do Caminhão</span>
                            <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                            </span>
                    </header>
                    <div class="panel-body">
                        <ul class="to-do-list" ng-slimscroll height="300px">
                            <li class="clearfix" ng-repeat="truck in vm.dash.rank_truck">
                                <span class="fa-stack fa-2x ranking-color">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <strong class="fa-stack-1x text-white">{{ $index + 1}}</strong>
                                </span>
                                <div class="notification-info">
                                    <ul class="clearfix notification-meta">
                                        <li class="pull-left">
                                            {{ truck.carro_nome }}
                                            <br />
                                            <span class="notification-info-span">{{truck.carro_placa}} / {{truck.carro_frota}}</span>
                                        </li>
                                        <li class="pull-right notification-time">{{truck.total}} km/l</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
                <!--todolist end-->
            </div>
            <div class="col-md-6">
                <!--todolist start-->
                <section class="panel">
                    <header class="panel-heading">
                        <i class="fa fa-users"></i>
                        <span class="icon-title">Ranking do Motorista</span>
                            <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                            </span>
                    </header>
                    <div class="panel-body">
                        <ul class="to-do-list" ng-slimscroll height="300px">
                            <li class="clearfix" ng-repeat="driver in vm.dash.rank_driver">
                                    <span class="fa-stack fa-2x ranking-color">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <strong class="fa-stack-1x text-white">{{ $index + 1}}</strong>
                                    </span>
                                <div class="notification-info">
                                    <ul class="clearfix notification-meta">
                                        <li class="pull-left">
                                            {{ driver.usuario_nome }}
                                            <br />
                                            <span class="notification-info-span" ng-if="driver.viagem == 1">{{ driver.viagem }} viagem</span>
                                            <span class="notification-info-span" ng-if="driver.viagem > 1">{{ driver.viagem }} viagens</span>
                                        </li>
                                        <li class="pull-right notification-time">{{ driver.km | number }} Km</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
                <!--todolist end-->
            </div>
        </div>
        <!-- page end-->
    </section>
</section>
<!--main content end-->