<!--main content start-->
<div id="main-content">
    <div class="wrapper">
        <!-- page start-->
        <div class="row">
            <div class="col-md-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href="#/"><i class="fa fa-dashboard"></i> Painel</a></li>
                    <li> Manutenções</li>
                    <li class="active">Alteração de manutenção</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Alteração de manutenção
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                            </span>
                    </header>
                    <div class="panel-body">
                        <script>
                            (function ($) {
                                $("#wizard-maintenance-edit").steps({
                                    headerTag: "h3",
                                    bodyTag: "section",
                                    transitionEffect: "slideLeft",
                                    onStepChanged: function (event, currentIndex, priorIndex)
                                    {
                                        if(currentIndex == 2) {
                                            $("#button_submit").addClass("display_inline");
                                        } else{
                                            $("#button_submit").removeClass("display_inline");
                                        }
                                    },
                                    labels: {
                                        next: 'Próximo <i class="fa fa-chevron-right"></i>',
                                        previous: '<i class="fa fa-chevron-left"></i> Anterior'
                                    }
                                });
                            })(jQuery);
                        </script>

                        <form role="form" name="form" class="form-horizontal" ng-submit="vm.submitEditMaintenance(vm.maintenance)">
                            <div id="wizard-maintenance-edit">
                                <h3>Dados da Manutenção</h3>
                                <section>
                                    <div class="form-group" ng-class="{ 'has-error': form.truckSelect.$dirty && form.truckSelect.$error.required }">
                                        <label class="col-lg-3 col-sm-3 control-label">Caminhão</label>
                                        <div class="col-lg-6 col-sm-6">
                                            <select class="form-control" name="truckSelect" ng-model="vm.maintenance.truck" ng-change="vm.getKm()"
                                                    ng-options="(truck.carro_placa + ' - ' + truck.carro_nome) for truck in vm.trucks track by truck.carro_id" required>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': form.km.$dirty && form.km.$error.required }">
                                        <label class="col-lg-3 col-sm-3 control-label">Km Manutenção
                                    <span data-content="Quantidade em km que foi realizada a manutenção. Se ainda não foi realizada, informe a km prevista."
                                          data-placement="right" data-trigger="hover" class="badge bg-default popovers information">?</span>
                                        </label>
                                        <div class="col-lg-2 col-sm-2">
                                            <input type="text" name="km" class="form-control" ng-model="vm.maintenance.km" ui-number-mask="0" ng-blur="vm.checkKm()" required>
                                        </div>
                                        <div class="col-lg-3 col-sm-3 message-padding" ng-show="vm.qtd_km">
                                            <label class="message-km" style="width: 100%;">
                                                {{vm.message}} <strong>{{vm.qtd_km | number}} {{vm.unit}}</strong>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="vm.view_status">
                                        <label class="col-lg-3 col-sm-3 control-label">Status
                                    <span data-content="Situação da manutenção, se está pendente para ser realizada ou se já foi realizada."
                                          data-placement="top" data-trigger="hover" class="badge bg-default popovers information">?</span>
                                        </label>
                                        <div class="col-lg-2 col-sm-2">
                                            <select class="form-control" ng-model="vm.maintenance.status" ng-change="vm.checkStatus(vm.maintenance.status)">
                                                <option value="1" ng-selected="vm.maintenance.status == 1">Pendente</option>
                                                <option value="2" ng-selected="vm.maintenance.status == 2">Realizada</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="vm.view_status && vm.view_date">
                                        <label class="col-lg-3 col-sm-3 control-label">Data
                                    <span data-content="Data em que a manutenção foi realizada."
                                          data-placement="top" data-trigger="hover" class="badge bg-default popovers information">?</span>
                                        </label>
                                        <div class="col-lg-2 col-sm-2">
                                            <input type="text" class="form-control default-date-picker" ng-model="vm.maintenance.date" ui-mask="99/99/9999" model-view-value="true">
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="vm.view_status && vm.view_date">
                                        <label class="col-lg-3 col-sm-3 control-label">Preço
                                    <span data-content="Preço da manutenção excluindo o valor relacionado a peça(s)."
                                          data-placement="top" data-trigger="hover" class="badge bg-default popovers information">?</span>
                                        </label>
                                        <div class="col-lg-2 col-sm-2">
                                            <input type="text" class="form-control" ng-model="vm.maintenance.price" ui-money-mask="2">
                                        </div>
                                    </div>
                                </section>
                                <h3>Peça/Item</h3>
                                <section>
                                    <div class="form-group">
                                        <div class="col-lg-10 col-sm-10">
                                            <p>Informe a peça/item da manutenção:</p>
                                        </div>
                                        <div class="col-lg-2 col-sm-2">
                                            <div class="btn-group pull-right">
                                                <a href ng-click="vm.addPart()" class="btn btn-primary">
                                                    <i class="fa fa-plus"></i> Novo
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="vm.maintenance.parts.length > 0">
                                        <div class="col-lg-12 col-sm-12">
                                            <table class="table table-condensed">
                                                <thead>
                                                <tr>
                                                    <th>Peça/Item</th>
                                                    <th>Tipo</th>
                                                    <th class="text-center">Qtd.</th>
                                                    <th class="text-center">Preço</th>
                                                    <th class="text-center" style="width:13%">Ação</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="part in vm.maintenance.parts track by part.revisao_item_id" style="background-color: #fff">
                                                    <td>{{part.item_nome}}</td>
                                                    <td><span ng-show="!part.estoque_descricao">-</span>{{part.estoque_descricao}}</td>
                                                    <td class="text-center">{{part.revisao_item_qtd}}</td>
                                                    <td class="text-center">{{part.revisao_item_valor | currency}}</td>
                                                    <td class="text-center">
                                                        <div class="todo-actionlist">
                                                            <a href ng-click="vm.editPart(part, $index)" class="todo-edit icon-center" title="Editar"><i class="ico-pencil"></i></a>
                                                            <a href ng-click="vm.removePart(part)" class="todo-remove icon-center" title="Remover"><i class="ico-close"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </section>
                                <h3>Observações</h3>
                                <section>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <div class="col-lg-10 col-sm-10">
                                                <p>Preencha o campo se desejar incluir alguma observação no cadastro de manutenção.</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-12 col-sm-12">
                                                <textarea class="form-control" rows="6" ng-model="vm.maintenance.comments"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12 text-center">
                                    <button type="button" class="btn btn-default" ng-click="vm.back()"><i class="fa fa-undo"></i> Cancelar alteração</button>
                                    <button type="submit" id="button_submit" class="btn btn-primary display_none" ng-disabled="form.$invalid"><i class="fa fa-pencil"></i> Editar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <span id="toastrOptions"></span>
                </section>
            </div>
        </div>
    </div>
    <!-- page end-->
</div>
<!--main content end-->

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myParts" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Adicionar peça/item</h4>
            </div>
            <div class="modal-body">

                <form name="formParts" ng-submit="vm.submitPart(vm.part)">
                    <div class="form-group" ng-class="{ 'has-error': formParts.partSelect.$dirty && formParts.partSelect.$error.required }">
                        <label class="control-label" for="inputParts">Peça/Item</label>
                        <select class="form-control" name="partSelect" id="inputParts" ng-model="vm.part.part_select" ng-change="vm.checkPart()"
                                ng-options="part.name for part in vm.parts track by part.id" required>
                        </select>
                    </div>
                    <div class="form-group" ng-show="vm.field_price">
                        <label class="control-label" for="inputPartPrice">Preço Unitário</label>
                        <input type="text" name="inputPartPrice" class="form-control" id="inputPartPrice" ng-model="vm.part.price_unit" ng-blur="vm.checkPrice()" placeholder="Valor (R$)" ui-money-mask="2">
                    </div>
                    <div class="form-group" ng-show="vm.part.options.length">
                        <label class="control-label" for="inputPartsOptions">Opções no estoque</label>
                        <select class="form-control" name="partOptionSelect" id="inputPartsOptions" ng-model="vm.part.part_option_select" ng-change="vm.checkPrice()"
                                ng-options="part.estoque_descricao for part in vm.part.options">
                        </select>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': formParts.partQtd.$dirty && formParts.partQtd.$error.required }">
                        <label class="control-label" for="inputQtd">Quantidade</label>
                        <select class="form-control" name="partQtd" id="inputQtd" ng-model="vm.part.qtd" ng-change="vm.updatePrice()" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>
                        <div class="message-padding" ng-show="vm.part.price">
                            <label class="message-km">
                                {{vm.part.message_price}} <strong>{{vm.part.price | currency}}</strong>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button data-dismiss="modal" class="btn btn-default" type="button"><i class="fa fa-close"></i> Cancelar</button>
                        </div>
                        <div class="btn-group pull-right">
                            <button type="submit" class="btn btn-primary" ng-disabled="formParts.$invalid"><i class="fa fa-check"></i> Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- modal -->

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myPartsEdit" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Alterar peça/item</h4>
            </div>
            <div class="modal-body">

                <form name="formParts" ng-submit="vm.submitEditPart(vm.part)">
                    <input type="hidden" ng-value="vm.part.index" ng-model="vm.part.index">
                    <input type="hidden" ng-value="vm.part.revisao_id" ng-model="vm.part.revisao_id">
                    <input type="hidden" ng-value="vm.part.revisao_item_id" ng-model="vm.part.revisao_item_id">
                    <div class="form-group" ng-class="{ 'has-error': formParts.partEditSelect.$dirty && formParts.partEditSelect.$error.required }">
                        <label class="control-label" for="inputEditParts">Peça/Item</label>
                        <select class="form-control" name="partEditSelect" id="inputEditParts" ng-model="vm.part.part_select" ng-change="vm.checkPart()"
                                ng-options="part.name for part in vm.parts track by part.id" required>
                        </select>
                    </div>
                    <div class="form-group" ng-show="vm.field_price">
                        <label class="control-label" for="inputEditPartPrice">Preço Unitário</label>
                        <input type="text" name="inputPartPrice" class="form-control" id="inputEditPartPrice" ng-model="vm.part.price_unit" ng-blur="vm.checkPrice()" placeholder="Valor (R$)" ui-money-mask="2">
                    </div>
                    <div class="form-group" ng-show="vm.part.options.length">
                        <label class="control-label" for="inputEditPartsOptions">Opções no estoque</label>
                        <select class="form-control" name="partOptionSelect" id="inputEditPartsOptions" ng-model="vm.part.part_option_select" ng-change="vm.checkPrice()"
                                ng-options="part.estoque_descricao for part in vm.part.options track by part.estoque_id">
                        </select>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': formParts.partEditQtd.$dirty && formParts.partEditQtd.$error.required }">
                        <label class="control-label" for="inputEditQtd">Quantidade</label>
                        <select class="form-control" name="partEditQtd" id="inputEditQtd" ng-model="vm.part.qtd" ng-change="vm.updatePrice()" required>
                            <option value="1" ng-selected="vm.part.qtd == 1">1</option>
                            <option value="2" ng-selected="vm.part.qtd == 2">2</option>
                            <option value="3" ng-selected="vm.part.qtd == 3">3</option>
                            <option value="4" ng-selected="vm.part.qtd == 4">4</option>
                            <option value="5" ng-selected="vm.part.qtd == 5">5</option>
                            <option value="6" ng-selected="vm.part.qtd == 6">6</option>
                            <option value="7" ng-selected="vm.part.qtd == 7">7</option>
                            <option value="8" ng-selected="vm.part.qtd == 8">8</option>
                            <option value="9" ng-selected="vm.part.qtd == 9">9</option>
                            <option value="10" ng-selected="vm.part.qtd == 10">10</option>
                            <option value="11" ng-selected="vm.part.qtd == 11">11</option>
                            <option value="12" ng-selected="vm.part.qtd == 12">12</option>
                            <option value="13" ng-selected="vm.part.qtd == 13">13</option>
                            <option value="14" ng-selected="vm.part.qtd == 14">14</option>
                            <option value="15" ng-selected="vm.part.qtd == 15">15</option>
                        </select>
                        <div class="message-padding" ng-show="vm.part.price">
                            <label class="message-km">
                                {{vm.part.message_price}} <strong>{{vm.part.price | currency}}</strong>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button data-dismiss="modal" class="btn btn-default" type="button"><i class="fa fa-close"></i> Cancelar</button>
                        </div>
                        <div class="btn-group pull-right">
                            <button type="submit" class="btn btn-primary" ng-disabled="formParts.$invalid"><i class="fa fa-check"></i> Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- modal -->