<!--main content start-->
<div id="main-content">
    <div class="wrapper">
        <!-- page start-->
        <div class="row">
            <div class="col-md-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href="#/"><i class="fa fa-dashboard"></i> Painel</a></li>
                    <li>Empresa</li>
                    <li class="active"> Editar Empresa</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Editar Empresa
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                            </span>
                    </header>
                    <div class="panel-body">
                        <div class="space15"></div>
                        <label class="col-lg-11 col-sm-11 title-company">{{vm.company.empresa_nome}}</label>
                        <div class="space15"></div>

                        <form name="formCompany" role="form" class="form-horizontal">
                            <div class="form-group" ng-class="{ 'has-error': formCompany.address.$dirty && formCompany.address.$error.required }">
                                <label class="col-lg-3 col-sm-3 control-label">Endereço</label>
                                <div class="col-sm-6">
                                    <input type="text" name="address" class="form-control" ng-model="vm.company.empresa_logradouro" required>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': formCompany.number.$dirty && formCompany.number.$error.required }">
                                <label class="col-lg-3 col-sm-3 control-label">Número</label>
                                <div class="col-lg-2 col-sm-6">
                                    <input type="text" name="number" class="form-control" ng-model="vm.company.empresa_numero" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-sm-3 control-label">Complemento</label>
                                <div class="col-lg-2 col-sm-6">
                                    <input type="text" class="form-control" ng-model="vm.company.empresa_complemento">
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': formCompany.neighboorhod.$dirty && formCompany.neighboorhod.$error.required }">
                                <label class="col-lg-3 col-sm-3 control-label">Bairro</label>
                                <div class="col-lg-2 col-sm-6">
                                    <input type="text" name="neighboorhod" class="form-control" ng-model="vm.company.empresa_bairro" required>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': formCompany.city.$dirty && formCompany.city.$error.required }">
                                <label class="col-lg-3 col-sm-3 control-label">Cidade</label>
                                <div class="col-lg-6 col-sm-6">
                                    <select class="form-control" name="city" ng-model="vm.cidade_id"
                                            ng-options="city.name for city in vm.cities track by city.id" required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': formCompany.zip.$dirty && formCompany.zip.$error.required }">
                                <label class="col-lg-3 col-sm-3 control-label">CEP</label>
                                <div class="col-lg-2 col-sm-6">
                                    <input type="text" name="zip" class="form-control" ng-model="vm.company.empresa_cep" ui-mask="99.999-999" model-view-value="true" required>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': formCompany.phone1.$dirty && formCompany.phone1.$error.required }">
                                <label class="col-lg-3 col-sm-3 control-label">Telefone 1</label>
                                <div class="col-lg-2 col-sm-6">
                                    <input type="text" name="phone1" class="form-control" ng-model="vm.company.empresa_telefone_1" ui-br-phone-number required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-sm-3 control-label">Telefone 2</label>
                                <div class="col-lg-2 col-sm-6">
                                    <input type="text" class="form-control" ng-model="vm.company.empresa_telefone_2" placeholder="(xx) xxxxx-xxxx" ui-br-phone-number>
                                </div>
                            </div>
                            <div class="space15"></div>
                            <div class="form-group">
                                <div class="col-lg-11 text-center">
                                    <button type="button" class="btn btn-default " ng-click="vm.back()"><i class="fa fa-undo"></i> Voltar</button>
                                    <button class="btn btn-primary" type="submit" ng-disabled="formCompany.$invalid" ng-click="vm.editCompany(vm)"><i class="fa fa-check"></i> Salvar</button>
                                </div>
                            </div>
                            <span id="toastrOptions"></span>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- page end-->
</div>
<!--main content end-->