<!--header start-->
<header class="header fixed-top clearfix">
    <!--logo start-->
    <div class="brand">

        <a href="#/" class="logo">
            <img src="images/carlive.svg" width="180px" alt="">
        </a>
    </div>
    <!--logo end-->

    <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
            <!-- settings start -->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
                    <i class="fa fa-tasks"></i>
                    <span class="badge bg-success">{{numberLastTrip}}</span>
                </a>
                <ul class="dropdown-menu extended tasks-bar">
                    <li>
                        <p>Últimas Viagens</p>
                    </li>
                    <li ng-repeat="trip in header.getLastTrip | limitTo: 4">
                        <a href="#/trip/{{trip.viagem_id}}">
                            <div class="task-info clearfix">
                                <div class="desc pull-left">
                                    <h5 class="task-title text-transform-header">Veículo {{trip.carro_placa}}</h5> - <h6 class="task-title">{{trip.data_saida}} a {{trip.data_chegada}}</h6>
                                    <p>De {{trip.cidade_origem}} para {{trip.cidade_destino}}</p>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="external">
                        <a href="#/last-trip">Veja Mais Viagens</a>
                    </li>
                </ul>
            </li>
            <!-- settings end -->
            <!-- notification dropdown start-->
            <li id="header_notification_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">

                    <i class="fa fa-bell-o"></i>
                    <span class="badge bg-important">{{numberNextMaintenance}}</span>
                </a>
                <ul class="dropdown-menu extended notification">
                    <li>
                        <p>Próximas Manutenções</p>
                    </li>
                    <li ng-repeat="maintenance in header.getNextMaintenance | limitTo: 3">
                        <div class="alert clearfix alert_review" ng-class="maintenance.km > 0 ? 'alert-warning' : 'alert-danger' ">
                            <span class="alert-icon"><i class="fa fa-wrench"></i></span>
                            <div class="noti-info">
                                <a href="#/maintenance/{{maintenance.revisao_id}}"> <span ng-if="maintenance.km < 0">Excedeu </span> <span ng-if="maintenance.km > 0">Falta </span><strong>
                                    {{maintenance.km | positive}}km</strong> da manutenção de
                                    <span ng-repeat="part in maintenance.parts">{{part}}, </span>
                                    da placa <strong>{{maintenance.carro_placa}}</strong>.
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="last-maintenance">
                        <a class="all-maintenance" href="#/last-maintenance">Veja Próximas Manutenções</a>
                    </li>
                </ul>
            </li>
            <!-- notification dropdown end -->
            <li id="header_inbox_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
                    <i class="fa fa-user-md"></i>
                    <span class="badge bg-warning">{{numberNextPeriodic}}</span>
                </a>
                <ul class="dropdown-menu extended inbox">
                    <li>
                        <p class="red">Exames Periódicos</p>
                    </li>
                    <li ng-repeat="periodic in header.getNextPeriodic | limitTo: 4">
                        <a href ng-click="getUser(periodic.perfil_id)">
                            <span class="subject">
                            <span class="from">{{periodic.usuario_nome}}</span>
                            <span class="time">{{periodic.data_exame}}</span>
                            </span>
                            <span class="message" ng-if="periodic.dias !== 1">
                                Faltam {{periodic.dias}} dias para o vencimento.
                            </span>
                            <span class="message" ng-if="periodic.dias === 1">
                                Falta {{periodic.dias}} dia para o vencimento.
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#/all-periodics">Veja Todos Motoristas</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!--  notification end -->
    </div>
    <div class="top-nav clearfix">
        <!--search & user info start-->
        <ul class="nav pull-right top-menu">
            <li>
                <input type="text" class="form-control search" placeholder=" Pesquisar">
            </li>
            <!-- user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle icon-user" href="javascript:;">
                    <i class="fa fa-user"></i>
                    <span class="username">{{username}}</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <li><a href="#/profile"><i class=" fa fa-suitcase"></i>Perfil</a></li>
                    <li><a href="" ng-click="logout()"><i class="fa fa-key"></i> Sair</a></li>
                </ul>
            </li>
            <!-- user login dropdown end -->
            <li>
                <div class="sidebar-toggle-box">
                    <div class="fa fa-exchange"></div>
                </div>
            </li>
        </ul>
        <!--search & user info end-->
    </div>
</header>
<!--header end-->