<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a href="#/">
                        <i class="fa fa-dashboard"></i>
                        <span>Painel</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-road"></i>
                        <span>Viagens</span>
                    </a>
                    <ul class="sub">
                        <li><a class="active" href="#/add-trip">Cadastro</a></li>
                        <li><a href="#/search-trip">Pesquisa</a></li>
                        <li><a href="#/last-trip">Últimas</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class=" fa fa-gears"></i>
                        <span>Manutenções</span>
                    </a>
                    <ul class="sub">
                        <li><a href="#/add-maintenance">Cadastro</a></li>
                        <li><a href="#/search-maintenance">Pesquisa</a></li>
                        <li><a href="#/last-maintenance">Pendentes</a></li>
                        <li><a href="#/realized-maintenance">Realizadas</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class=" fa fa-bar-chart-o"></i>
                        <span>Relatórios</span>
                    </a>
                    <ul class="sub">
                        <li><a href="#/report-profit">Resultado</a></li>
                        <li><a href="google_map.html">Despesa</a></li>
                        <li><a href="vector_map.html">Manutenção</a></li>
                        <li><a href="vector_map.html">Caminhão</a></li>
                        <li><a href="vector_map.html">Motorista</a></li>
                        <li><a href="vector_map.html">Estoque de peças</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#/parts">
                        <i class="fa fa-wrench"></i>
                        <span>Peças/Itens</span>
                    </a>
                </li>
                <li>
                    <a href="#/trucks">
                        <i class="fa fa-truck"></i>
                        <span>Caminhões</span>
                    </a>
                </li>
                <li>
                    <a href="#/users">
                        <i class="fa fa-users"></i>
                        <span>Usuários</span>
                    </a>
                </li>
                <li>
                    <a href="#/company">
                        <i class="fa fa-home"></i>
                        <span>Empresa</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->

<script src="../js/scripts.js"></script>