<!--main content start-->
<div id="main-content">
    <div class="wrapper">
        <!-- page start-->
        <div class="row">
            <div class="col-md-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href="#/"><i class="fa fa-dashboard"></i> Painel</a></li>
                    <li class="active">Caminhões</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Caminhões
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                            </span>
                    </header>
                    <div class="panel-body" ng-show="vm.trucksAvailable.length">
                        <div class="adv-table editable-table ">
                            <div class="clearfix">
                                <div class="btn-group">
                                    <a href="#/add-truck" class="btn btn-primary">
                                        <i class="fa fa-plus"></i> Novo
                                    </a>
                                </div>
                                <div class="btn-group pull-right">
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-cog"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#"><i class="fa fa-print"></i> Imprimir</a></li>
                                        <li><a href="#"><i class="fa fa-file-pdf-o"></i> Salvar como PDF</a></li>
                                        <li><a href="#"><i class="fa fa-file-excel-o"></i> Exportar para Excel</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="space15"></div>
                            <table class="display table table-hover table-bordered table-striped table-condensed">
                                <thead>
                                <tr>
                                    <th class="text-center">Frota</th>
                                    <th class="text-center">Caminhão</th>
                                    <th class="text-center">Placa</th>
                                    <th class="text-center">Placa semi-reboque</th>
                                    <th class="text-center">Km</th>
                                    <th class="text-center">Ação</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="truck in vm.trucksAvailable">
                                    <td class="center"><span ng-show="!truck.carro_frota"> - </span> {{truck.carro_frota}}</td>
                                    <td>{{truck.carro_nome}}</td>
                                    <td class="center">{{truck.carro_placa}}</td>
                                    <td class="center">{{truck.carro_placa_semi_reboque}}</td>
                                    <td class="center">{{truck.carro_km | number}}</td>
                                    <td class="todo-actionlist center">
                                        <a href ng-click="vm.getTruck(truck)" class="todo-done icon-center" title="Detalhes"><i class="fa fa-plus-square"></i></a>
                                        <a href ng-click="vm.editTruck(truck)" class="todo-edit icon-center" title="Editar"><i class="ico-pencil"></i></a>
                                        <a href ng-click="vm.removeTruck(truck)" class="todo-remove icon-center" title="Remover"><i class="ico-close"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="!vm.trucksAvailable.length">
                            <p>Não existem caminhões ativos.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Caminhões desativados
                                <span class="tools pull-right">
                                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                                    <a href="javascript:;" class="fa fa-times"></a>
                                </span>
                    </header>
                    <div class="panel-body">
                        <div class="adv-table editable-table" ng-show="vm.trucksUnavailable.length">
                            <div class="clearfix">
                                <div class="btn-group pull-right">
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-cog"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#"><i class="fa fa-print"></i> Imprimir</a></li>
                                        <li><a href="#"><i class="fa fa-file-pdf-o"></i> Salvar como PDF</a></li>
                                        <li><a href="#"><i class="fa fa-file-excel-o"></i> Exportar para Excel</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="space15"></div>
                            <table class="display table table-hover table-bordered table-striped table-condensed" id="hidden-table-info">
                                <thead>
                                <tr>
                                    <th class="text-center">Frota</th>
                                    <th class="text-center">Caminhão</th>
                                    <th class="text-center">Placa</th>
                                    <th class="text-center">Placa semi-reboque</th>
                                    <th class="text-center">Km</th>
                                    <th class="text-center">Ação</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="truck in vm.trucksUnavailable">
                                    <td class="center"><span ng-show="!truck.carro_frota"> - </span> {{truck.carro_frota}}</td>
                                    <td>{{truck.carro_nome}}</td>
                                    <td class="center">{{truck.carro_placa}}</td>
                                    <td class="center">{{truck.carro_placa_semi_reboque}}</td>
                                    <td class="center">{{truck.carro_km | number}}</td>
                                    <td class="todo-actionlist center">
                                        <a href ng-click="vm.getTruck(truck)" class="todo-done icon-center" title="Detalhes"><i class="fa fa-plus-square"></i></a>
                                        <a href ng-click="vm.activeTruck(truck)" class="todo-done icon-center" title="Reativar"><i class="fa fa-check"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="!vm.trucksUnavailable.length">
                            <p>Não existem caminhões desativados.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- page end-->
</div>
<!--main content end-->