<!--main content start-->
<div id="main-content">

    <div class="wrapper" ng-show="vm.loading">
        <div class="row">
            <div class="col-md-12">
                <div style="margin: auto; padding: 100px 0 0 0; text-align: center; width: 200px; height: 170px; display: block;">
                    <img src="images/carlive_green.svg" style="border-radius: 100%; width: 150px" />
                    <div class="element-animation"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper" ng-show="!vm.loading">
        <!-- page start-->
        <div class="row">
            <div class="col-md-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href="#/"><i class="fa fa-dashboard"></i> Painel</a></li>
                    <li class="active">Caminhão</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Caminhão
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                            </span>
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="prf-contacts">
                                    <h2> <span><i class="fa fa-truck"></i></span> Veículo</h2>
                                    <div class="location-info">
                                        <p><strong>Caminhão:</strong> {{vm.truck.carro_nome}} <br>
                                            <strong>Frota:</strong> <span ng-show="!vm.truck.carro_frota"> - </span> {{vm.truck.carro_frota}}
                                        </p>
                                    </div>
                                    <h2> <span><i class="fa fa-road"></i></span> Quilometragem</h2>
                                    <div class="location-info">
                                        <p>
                                            <strong>Atual:</strong> {{vm.truck.carro_km | number}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="prf-contacts">
                                    <h2> <span><i class="fa fa-location-arrow"></i></span> Identificação</h2>
                                    <div class="location-info">
                                        <p><strong>Placa:</strong> {{vm.truck.carro_placa}} <br>
                                            <strong>Semi-reboque:</strong> {{vm.truck.carro_placa_semi_reboque}}
                                        </p>
                                    </div>
                                    <h2> <span><i class="fa fa-calendar"></i></span> Data</h2>
                                    <div class="location-info">
                                        <p><strong>Ativação:</strong> {{vm.truck.carro_data_ativacao}} <br>
                                            <strong>Desativação:</strong> <span ng-show="!vm.truck.carro_data_desativacao"> - </span> {{vm.truck.carro_data_desativacao}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="vm.truckPart.length">
                            <div class="col-md-11">
                                <div class="prf-contacts">
                                    <h2> <span><i class="fa fa-wrench"></i></span> Peça/Item</h2>
                                    <div class="location-info">
                                        <table class="table table-condensed table-striped">
                                            <thead>
                                            <tr>
                                                <th>Peça/Item</th>
                                                <th>Descrição</th>
                                                <th class="text-center">Vida Útil</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="part in vm.truckPart track by $index">
                                                <td>{{part.item_nome}}</td>
                                                <td><span ng-show="!part.estoque_descricao"> - </span>{{part.estoque_descricao}}</td>
                                                <td class="text-center">{{part.carro_item_vida_util | number}} km</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-11 text-center">
                                <button type="button" class="btn btn-default" ng-click="vm.back()"><i class="fa fa-undo"></i> Voltar</button>
                                <button type="button" class="btn btn-default" ng-click="vm.editTruck(vm.truck)"><i class="fa fa-pencil"></i> Editar</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- page end-->
</div>
<!--main content end-->