<!--main content start-->
<div id="main-content">
    <div class="wrapper">
        <!-- page start-->
        <div class="row">
            <div class="col-md-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href="#/"><i class="fa fa-dashboard"></i> Painel</a></li>
                    <li class="active">Usuários</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Usuários
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                            </span>
                    </header>
                    <div class="panel-body">
                        <div class="adv-table editable-table ">
                            <div class="clearfix">
                                <div class="btn-group">
                                    <a href data-target="#myModal" data-toggle="modal" id="editable-sample_new" class="btn btn-primary">
                                        <i class="fa fa-plus"></i> Novo
                                    </a>
                                </div>
                                <div class="btn-group pull-right">
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-cog"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#"><i class="fa fa-print"></i> Imprimir</a></li>
                                        <li><a href="#"><i class="fa fa-file-pdf-o"></i> Salvar como PDF</a></li>
                                        <li><a href="#"><i class="fa fa-file-excel-o"></i> Exportar para Excel</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="space15"></div>
                            <table class="display table table-hover table-bordered table-striped table-condensed">
                                <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Email</th>
                                    <th>Cart. Habilitação</th>
                                    <th>Função</th>
                                    <th class="text-center">Ação</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Sérgio de Oliveira</td>
                                    <td>sergio@gmail.com</td>
                                    <td> - </td>
                                    <td>Gerente</td>
                                    <td class="todo-actionlist center">
                                        <a href="#/user/1" class="todo-done icon-center" title="Detalhes"><i class="fa fa-plus-square"></i></a>
                                        <a href="#" class="todo-edit icon-center" title="Editar"><i class="ico-pencil"></i></a>
                                        <a href="#" class="todo-remove icon-center" title="Remover"><i class="ico-close"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Priscila Ramos de Melo</td>
                                    <td>priscilaramos@gmail.com</td>
                                    <td> - </td>
                                    <td>Administrativo</td>
                                    <td class="todo-actionlist center">
                                        <a href="#/user/2" class="todo-done icon-center" title="Detalhes"><i class="fa fa-plus-square"></i></a>
                                        <a href="#" class="todo-edit icon-center" title="Editar"><i class="ico-pencil"></i></a>
                                        <a href="#" class="todo-remove icon-center" title="Remover"><i class="ico-close"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Lucas Henrique de Oliveira</td>
                                    <td> - </td>
                                    <td>31314342423</td>
                                    <td>Motorista</td>
                                    <td class="todo-actionlist center">
                                        <a href="#/user/3" class="todo-done icon-center" title="Detalhes"><i class="fa fa-plus-square"></i></a>
                                        <a href="#" class="todo-edit icon-center" title="Editar"><i class="ico-pencil"></i></a>
                                        <a href="#" class="todo-remove icon-center" title="Remover"><i class="ico-close"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Arthur Felipe R. Costa</td>
                                    <td> - </td>
                                    <td>31314342423</td>
                                    <td>Motorista</td>
                                    <td class="todo-actionlist center">
                                        <a href="#/user/4" class="todo-done icon-center" title="Detalhes"><i class="fa fa-plus-square"></i></a>
                                        <a href="#" class="todo-edit icon-center" title="Editar"><i class="ico-pencil"></i></a>
                                        <a href="#" class="todo-remove icon-center" title="Remover"><i class="ico-close"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Gilberto Oliveira</td>
                                    <td> - </td>
                                    <td>31314342423</td>
                                    <td>Motorista</td>
                                    <td class="todo-actionlist center">
                                        <a href="#/user/5" class="todo-done icon-center" title="Detalhes"><i class="fa fa-plus-square"></i></a>
                                        <a href="#" class="todo-edit icon-center" title="Editar"><i class="ico-pencil"></i></a>
                                        <a href="#" class="todo-remove icon-center" title="Remover"><i class="ico-close"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Guilherme Azevedo Reis</td>
                                    <td> - </td>
                                    <td>31314342423</td>
                                    <td>Motorista</td>
                                    <td class="todo-actionlist center">
                                        <a href="#/user/6" class="todo-done icon-center" title="Detalhes"><i class="fa fa-plus-square"></i></a>
                                        <a href="#" class="todo-edit icon-center" title="Editar"><i class="ico-pencil"></i></a>
                                        <a href="#" class="todo-remove icon-center" title="Remover"><i class="ico-close"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>José Lucas Ferreira e Silva</td>
                                    <td> - </td>
                                    <td>31314342423</td>
                                    <td>Motorista</td>
                                    <td class="todo-actionlist center">
                                        <a href="#/user/7" class="todo-done icon-center" title="Detalhes"><i class="fa fa-plus-square"></i></a>
                                        <a href="#" class="todo-edit icon-center" title="Editar"><i class="ico-pencil"></i></a>
                                        <a href="#" class="todo-remove icon-center" title="Remover"><i class="ico-close"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Paulo Holanda Ribeiro Netto</td>
                                    <td> - </td>
                                    <td>31314342423</td>
                                    <td>Motorista</td>
                                    <td class="todo-actionlist center">
                                        <a href="#/user/8" class="todo-done icon-center" title="Detalhes"><i class="fa fa-plus-square"></i></a>
                                        <a href="#" class="todo-edit icon-center" title="Editar"><i class="ico-pencil"></i></a>
                                        <a href="#" class="todo-remove icon-center" title="Remover"><i class="ico-close"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Matheus André da Silva</td>
                                    <td> - </td>
                                    <td>31314342423</td>
                                    <td>Motorista</td>
                                    <td class="todo-actionlist center">
                                        <a href="#/user/9" class="todo-done icon-center" title="Detalhes"><i class="fa fa-plus-square"></i></a>
                                        <a href="#" class="todo-edit icon-center" title="Editar"><i class="ico-pencil"></i></a>
                                        <a href="#" class="todo-remove icon-center" title="Remover"><i class="ico-close"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ruy Arruda Cassiano</td>
                                    <td> - </td>
                                    <td>31314342423</td>
                                    <td>Motorista</td>
                                    <td class="todo-actionlist center">
                                        <a href="#/user/10" class="todo-done icon-center" title="Detalhes"><i class="fa fa-plus-square"></i></a>
                                        <a href="#" class="todo-edit icon-center" title="Editar"><i class="ico-pencil"></i></a>
                                        <a href="#" class="todo-remove icon-center" title="Remover"><i class="ico-close"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Usuários Desativados
                                <span class="tools pull-right">
                                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                                    <a href="javascript:;" class="fa fa-times"></a>
                                </span>
                    </header>
                    <div class="panel-body">
                        <div class="adv-table editable-table ">
                            <div class="clearfix">
                                <div class="btn-group pull-right">
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-cog"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#"><i class="fa fa-print"></i> Imprimir</a></li>
                                        <li><a href="#"><i class="fa fa-file-pdf-o"></i> Salvar como PDF</a></li>
                                        <li><a href="#"><i class="fa fa-file-excel-o"></i> Exportar para Excel</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="space15"></div>
                            <table class="display table table-hover table-bordered table-striped table-condensed" id="hidden-table-info">
                                <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Email</th>
                                    <th>Cart. Habilitação</th>
                                    <th>Função</th>
                                    <th class="text-center">Ação</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Lucas Henrique de Oliveira</td>
                                    <td> - </td>
                                    <td>31314342423</td>
                                    <td>Motorista</td>
                                    <td class="todo-actionlist center">
                                        <a href="#" class="todo-done icon-center" title="Detalhes"><i class="fa fa-plus-square"></i></a>
                                        <a href="#" class="todo-done icon-center" title="Reativar"><i class="fa fa-check"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Arthur Felipe R. Costa</td>
                                    <td> - </td>
                                    <td>31314342423</td>
                                    <td>Motorista</td>
                                    <td class="todo-actionlist center">
                                        <a href="#" class="todo-done icon-center" title="Detalhes"><i class="fa fa-plus-square"></i></a>
                                        <a href="#" class="todo-done icon-center" title="Reativar"><i class="fa fa-check"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Gilberto Oliveira</td>
                                    <td> - </td>
                                    <td>31314342423</td>
                                    <td>Motorista</td>
                                    <td class="todo-actionlist center">
                                        <a href="#" class="todo-done icon-center" title="Detalhes"><i class="fa fa-plus-square"></i></a>
                                        <a href="#" class="todo-done icon-center" title="Reativar"><i class="fa fa-check"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- page end-->
</div>
<!--main content end-->

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Inclusão de novo usuário</h4>
            </div>
            <div class="modal-body">

                <form name="formUser" role="form">
                    <div class="form-group" ng-class="{ 'has-error': formUser.function.$dirty && formUser.function.$error.required }">
                        <label class="control-label" for="function">Função</label>
                        <select class="form-control" id="function" name="function" ng-model="vm.user.function" ng-change="vm.getFunction(vm.user.function)" required>
                            <option></option>
                            <option value="1">Gerente</option>
                            <option value="2">Administrativo</option>
                            <option value="3">Motorista</option>
                        </select>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': formUser.name.$dirty && formUser.name.$error.required }">
                        <label class="control-label" for="name">Nome</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Nome" ng-model="vm.user.name" required>
                    </div>
                    <div class="form-group" ng-show="!vm.show_driver">
                        <label class="control-label" for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                    <div class="form-group" ng-show="vm.show_driver">
                        <label class="control-label" for="inputCNH">Carteira de Habilitação</label>
                        <input type="text" class="form-control" id="inputCNH" placeholder="Carteira de Habilitação">
                    </div>
                    <div class="form-group" ng-show="vm.show_driver">
                        <label class="control-label" for="inputDatePeriodic">Data do último exame periódico</label>
                        <input type="text" class="form-control default-date-picker" id="inputDatePeriodic" ng-model="vm.date_periodic" ui-mask="99/99/9999" model-view-value="true">
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': formUser.phone1.$dirty && formUser.phone1.$error.required }">
                        <label class="control-label" for="phone1">Telefone</label>
                        <input type="text" class="form-control" name="phone1" id="phone1" ng-model="vm.phone1" placeholder="(xx) xxxxx-xxxx" ui-br-phone-number required>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputTelefone2">Telefone</label>
                        <input type="text" class="form-control" id="inputTelefone2" ng-model="vm.phone2" placeholder="(xx) xxxxx-xxxx" ui-br-phone-number>
                    </div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button data-dismiss="modal" class="btn btn-default" type="button"><i class="fa fa-close"></i> Cancelar</button>
                        </div>
                        <div class="btn-group pull-right">
                            <button type="submit" class="btn btn-primary" ng-disabled="formUser.$invalid"><i class="fa fa-check"></i> Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- modal -->